body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0a0a0a;
}

.timer-container {
    text-align: center;
    background-color: #181818;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8 15px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    width: 90%;
}

h1 {
    font-size: 2.5em;
    color: #ffffff;
    margin-bottom: 20px;
}

.countdown {
    font-size: 2em;
    color: #ffffff;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input {
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    border: 2px solid #00aaff;
    width: 80px;
    text-align: center;
    box-sizing: border-box;
}

button {
    background-color: #00aaff;
    color: white;
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: baclkground-color 0.3s ease;
}
button:hover {
    background-color: #0077cc;
}